/* Screen width from 0 to 991px */
@media (max-width: 991px) {
    /* Navbar */
    .navbar-nav {
        background-color: #343a40;
        text-align: center;
        margin-top: 20px;
        padding: 20px;
    }

    .nav-link:hover, .nav-link:focus {
        color: orange !important;
        border-bottom: none;
    }

    .active {
        border-bottom: none;
    }

    .active .nav-link {
        color: orange !important;
    }

    /* Header */
    #home {
        background: url('../assets/backgrounds/02.jpg') no-repeat fixed center / cover;
        width: 100%;
        height: 100vh;
    }

    #home h1 {
        font-size: 34px;
    }

    /* Services */
    #srv {
        display: flex;
        flex-direction: column;
    }
    .service {
        width: 100%;
    }
}